body {
    margin: 80px 180px;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-width: 650px;
}
.header {
    display: flex;
    font-weight: bolder;
    font-size: larger;
    color: white;
    background-color: mediumblue;

}
.name {
    flex: 0 0 250px;
    margin: 15px 0 15px 15px;



}
.nav {
    flex: 1 1 auto;


}
ul {

    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 15px 0;


}
li {
    display: inline-block;
    



}
a {
    text-decoration: none;
    color: white;
    background-color: mediumblue;
    margin: 15px 10px;

}
.info {
    background-color: darkturquoise;
    height: 300px;
}
.foto {
    text-align: center;
    position:relative;
    top:30px

}
.foto p {
    margin: 0;
}
.info1 {
    position:relative;
    top:60px;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    color: white;
}
.content {
    min-width: 650px;
    text-align: justify;
}

h1 {
    text-align: center;
    text-decoration: underline;
}
.text {
    white-space: pre-wrap;
}
a:hover {
    background-color: darkblue;
}


